body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: azure;
background-image: -moz-linear-gradient(20px);

}

nav ul {
    text-align: start;
grid-template-areas: initial;
    padding: 13px;
    margin: 0;
    background-color: royalblue;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: red;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: lightblue;
}

nav li a:hover {
    color: lightgreen;
}
