body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: azure;
background-image: -moz-linear-gradient(20px);

}

nav ul {
    text-align: start;
grid-template-areas: initial;
    padding: 13px;
    margin: 0;
    background-color: royalblue;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: red;
}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: lightblue;
}

nav li a:hover {
    color: lightgreen;
}

.conteudo_01 {
    background-color:red;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    color:red;
 }
 .conteudo_01 p {
    margin-bottom: 20px;
 font-family: 'Times New Roman', Times, serif;
 }
 
