@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
font-family: "Poppins", sans-serif;
}
body {
   margin: 0;
   font-family: arial, sans-serif;
   background-color: azure;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FFFAFA;
   padding: 10px 20px;
}

.logo {
   width: 155px;
   height: 45px;
}

.nav-list {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-item {
   margin-left: 20px;
}

.nav-item a {
   text-decoration: none;
   color: #9D8BB3;
   padding: 8px 16px;
   transition: background-color 0.3s;
}

.nav-item a:hover {
   background-color: #b4dcd4;
   border-radius: 4px;
}

.carousel-item img {
   height: 400px; /* Ajuste a altura conforme necessário */
   object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
   background-color: rgba(0, 0, 0, 0.5); /* Cor do ícone de navegação */
}

.carousel-control-prev,
.carousel-control-next {
   width: 5%; /* Largura dos botões de navegação */
}

.carousel-indicators li {
   background-color: rgba(0, 0, 0, 0.5); /* Cor dos indicadores */
   border-radius: 50%; /* Cantos arredondados dos indicadores */
   width: 12px; /* Tamanho dos indicadores */
   height: 12px;
}
.p1{
   margin-left: 60px;
   margin-top: 50px;
}
.p1 p{
   font-size: 30px;    
}

#texto{
   opacity: 100;
   transform: translateY(50px);
   transition: opacity 1s ease, transform 1s ease;

}

/* styles.css */

.card-container {
   display: flex;
   gap: 20px;
}

.card {
   width: 200px;
   border: 1px solid #ccc;
   border-radius: 8px;
   overflow: hidden;
   opacity: 0; /* Inicialmente invisível */
   transform: translateY(50px); /* Inicialmente deslocado para baixo */
   transition: opacity 0.5s ease, transform 0.5s ease; /* Transições para a animação */
}

.card img {
   width: 100%;
   height: auto;
}

.card .text {
   padding: 15px;
   text-align: center;
}

