@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
font-family: "Poppins", sans-serif;
}
nav ul {
    
    text-align: end;
    padding: 20px;
    margin: 0;
    background-color: #FFFAFA;
 }
 nav ul li {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: black;
 }
 nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
 }
 nav li a:hover {
    color: black;
 }
.logo-header{
    justify-content: left;
    align-items: start;
}