@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
font-family: "Poppins", sans-serif;
}
body {
   margin: 0;
   font-family: Arial, sans-serif;
   background-color: #FFFAFA;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   padding: 10px 20px;
}

.logo {
   width: 155px;
   height: 45px;
}

.nav-list {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-item {
   margin-left: 20px;
}

.nav-item a {
   text-decoration: none;
   color: #9D8BB3;
   padding: 8px 16px;
   transition: background-color 0.3s;
}

.nav-item a:hover {
   background-color: #b4dcd4;
   border-radius: 4px;
}

element.style {
}
.footer {
    text-align: center;
    background-color: #3b4c3d;
    border: 1px #000;
    align-items: flex-start;
    padding: 40px 20px 20px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    box-sizing: border-box;
}
folha de estilo do user agent
footer {
    display: block;
    unicode-bidi: isolate;
}
body {
    color: #1d311f;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    line-height: 20px;
::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: #66b96b;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}