@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0;
    padding: 0;
font-family: "Poppins", sans-serif;
}
body {
   margin: 0;
   font-family: arial, sans-serif;
   background-color: azure;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FFFAFA;
   padding: 10px 20px;
}

.logo {
   width: 155px;
   height: 45px;
}

.nav-list {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
}

.nav-item {
   margin-left: 20px;
}

.nav-item a {
   text-decoration: none;
   color: #9D8BB3;
   padding: 8px 16px;
   transition: background-color 0.3s;
}

.nav-item a:hover {
   background-color: #b4dcd4;
   border-radius: 4px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.top-profile{
  display: flex;
 gap: 60px;
}
.top-profile i{
  font-size: 80px;
}
.name{
  display: flex; 
  align-items: center; 
  gap: 10px; 
  justify-content: space-between;
}

input {
  padding: 8px;
  font-size: 16px;
  flex-grow: 1; 
  border: 1px #ccc;
  border-radius: 20px;
  

}
.name p{
  font-size: 50px;
 
}
button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap; 
  border: none;
  border-radius: 20px;
  color: #FFFAFA;
  background-color: #9D8BB3;

}